body {
    max-width: calc(77.78rem + calc((20 * 1px) + (100 - 20) * ((100vw - 320px) / (1920 - 320))) * 2);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: calc((20 * 1px) + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc((20 * 1px) + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
  }  

  button {
    border: 0px solid transparent;
    background-color: transparent;
  }
  
  .listings {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: -10px;
  }
  
  .underline-me {
    border-bottom: 1px solid black;
    width: 100%;
  }
  
  .main-container {
    position: relative;
  }
  
  .list-container {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-container li {
    margin: 0;
    color: transparent;
    background-image: linear-gradient(90deg, red 50%, black 50%);
    background-position: 100%;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 1s ease;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    pointer-events: all;
    padding: 0 auto;
  }
  
  .list-container li .title-company {
    width: auto;
  }
  
  .list-container li p.audio-player,
  .list-container li p.video,
  .list-container li p.credit {
    width: auto;
  }
  
  .list-container li h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  
  .list-container li h3 {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 400;
  }
  
  .list-container li p {
    font-size: .88rem;
  }
  
  .list-container li p.credit {
    text-align: right;
  }
  
  .list-container li:hover {
    background-position: 0;
  }

  .all-tracks :nth-child(n+2) {
    margin-top: .5rem
  }

  .video-container {
    display: flex;
  }

  .all-tracks svg {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    color: black;
    fill: black;
    transition: color 0.3s ease 0s, fill 0.3s ease 0s;
  }
  
  .all-tracks svg:hover {
    color: red;
    fill: red;
  }

  /* .track-container {
    cursor: pointer;
    text-indent: -999999px;
    height: 20px;
    width: 20px;
    padding: 12px 12px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    animation: fillAnimation 1s ease forwards;
  } */
/*   
  @keyframes fillAnimation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }
   */
  /* .play-audio {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+)!important;
    fill: transparent;
    transition: fill 0.3s ease;
  }
  
  .play-audio:hover {
    fill: red;
  }
  
  .pause-audio {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
    fill: transparent;
    transition: fill 0.3s ease;
  }
  
  .pause-audio:hover {
    fill: red;
  } */
  